# CSE 583 Homework 2

In [1]:
import pandas as pd
import numpy as np

Create a python module (a file with extension ‘.py’) with the following functions:

1. (1 point) Write a python script that creates a dataframe from a URL that points to a CSV file such as the pronto data or CSVs in data.gov.

In [2]:
!curl -o pronto.csv https://data.seattle.gov/api/views/tw7j-dfaw/rows.csv?accessType=DOWNLOAD
df = pd.read_csv('pronto.csv')
df.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31:00 AM,10/13/2014 10:48:00 AM,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32:00 AM,10/13/2014 10:48:00 AM,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33:00 AM,10/13/2014 10:48:00 AM,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34:00 AM,10/13/2014 10:48:00 AM,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34:00 AM,10/13/2014 10:49:00 AM,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

2. (6 points) Create the function test_create_dataframe that takes as input: (a) a pandas DataFrame and (b) a list of column names. The function returns True if the following conditions hold:
    * The DataFrame contains only the columns that you specified as the second argument.
    * The values in each column have the same python type
    * There are at least 10 rows in the DataFrame.

In [3]:
def test_create_dataframe(df,col_names):
    
    # Check columns
    if set(col_names) != set(df.columns):
        print('Incorrect column names')
        return False
    
    # Check types
    if len(set(df.dtypes)) > 1:
        print('Incorrect types')
        return False
    
    # Check length
    if len(df) < 10:
        print('Incorrect length')
        return False
    
    return True

In [4]:
test_create_dataframe(df,df.columns)

Incorrect types

False

In [5]:
df2 = df[['starttime','stoptime','bikeid','from_station_name']]
test_create_dataframe(df2,df2.columns)

True

In [6]:
test_create_dataframe(df2,df2.columns.values[0:2])

Incorrect column names

False

In [7]:
col_names = df2.columns.to_list()
col_names.append('kelsey')
test_create_dataframe(df2,col_names)

Incorrect column names

False

In [8]:
df3 = df2.loc[0:4,:]
test_create_dataframe(df3,df3.columns)

Incorrect length

False